<ion-header>
  <ion-toolbar color="kastor">
    <ion-title>
      Mis Cobros
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios" text-bold>Cancelar</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <image-header-page></image-header-page>
  <transaction-summary-header></transaction-summary-header>
  <br />
  <ion-grid>
    <ion-row header-row>
      <ion-col col-3 text-center text-bold>Fecha</ion-col>
      <ion-col col-6 text-left text-bold>Descripción</ion-col>
      <ion-col col-3 text-right text-bold>Monto Boleta</ion-col>
    </ion-row>
    <ion-row center detail-row *ngFor="let c of cartolaDeuda">
      <ion-col col-3 text-center>
        <p text-nowrap>{{ c.fecha | amDateFormat:'DD/MM/YYYY' }}</p>
      </ion-col>
      <ion-col col-6 text-left>
         <p text-nowrap>{{c.descripcion}}</p>
      </ion-col>
      <ion-col col-3 text-right>
        {{ c.monto | currency:'CLP':true | currencyFormat:',':'.' | currencyFormat:',':'.' | currencyFormat:'CLP':'$ '}}
      </ion-col>
    </ion-row>
    <ion-row total-row detail-row *ngIf="totalCartola">
      <ion-col col-8>
        <p text-right text-bold text-nowrap>Total:</p>
      </ion-col>
      <ion-col col-4 text-right>
        <p text-right text-bold>{{ totalCartola.total | currency:'CLP':true | currencyFormat:',':'.' |
          currencyFormat:',':'.' | currencyFormat:'CLP':'$ ' }}</p>
      </ion-col>
    </ion-row>
    <ion-row total-row *ngIf="saldoCartola">
        <ion-col col-8>
          <p text-right text-bold text-nowrap>Saldo Inmueble:</p>
        </ion-col>
        <ion-col col-4 text-right>
           <p text-right text-bold>{{ saldoCartola[0].total | currency:'CLP':true | currencyFormat:',':'.' | currencyFormat:',':'.' | currencyFormat:'CLP':'$ '}}</p>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
